<main>
<div class=" banner"></div>
<img src="/assets/fotos/banner1.jpeg" alt="banner com jogos" width="1349">
<section class="jogos">
    <div class="container2 posicionamento-jogos">
    <img src="/assets/fotos/cf.png" alt="Logotipo Crossfire" width="200px">
    <img src="/assets/fotos/cs.png" alt="Logotipo CounterStrike" width="200px">
    <img src="/assets/fotos/call.png" alt="Logotipo Warzone" width="200px">
    <Img src="/assets/fotos/fifa1.png" alt="Logotipo Fifa 22" width="200px">
    </div>
</section>
<section>
    <div class="container">
        <section class="cardnews"></section>
            <div class="texto-card">
                <img src="/assets/fotos/fable.png" alt="Foto do jogo vendido">
                <h3>Fable 2.0</h3>
                <span>Fable é uma série de jogos de RPG de ação</span>
                <button href="#">Comprar</button>
            </div>
        <section class="cardnews"></section>
            <div class="texto-card">
                <img src="/assets/fotos/fable.png" alt="Foto do jogo vendido">
                <h3>Fable 2.0</h3>
                <p>Fable é uma série de jogos de RPG de ação</p>
                <p class="Preço">R$199</p>
                <button href="#">Comprar</button>
            </div>
        <section class="cardnews"></section>
            <div class="texto-card">
                <img src="/assets/fotos/fable.png" alt="Foto do jogo vendido">
                <h3>Fable 2.0</h3>
                <p>Fable é uma série de jogos de RPG de ação</p>
                <p class="Preço">R$199</p>
                <button href="#">Comprar</button>

            </div>
        
            </div>
        

</section>
</main>
