<header class="header-loging">
    <div id="logo-gameshop">
        <a href="index.html"><img src="assets/fotos/logo.png" width="120px"></a>
    </div>
</header>
<div class="login1">
    <div class="coluna3">
        <div class="box-quad">
            <div>
                <p id="top-entrar">Entrar</p>
            </div>
            <ul>
                <li id="palavramestre"><input id="user" type="text" placeholder="Usuario"></li>
                <li id="palavramestre"><input id="password" type="password" placeholder="Senha"></li>
            </ul>
            <div class="coluna4">
                <p id="text-user">Usuário</p>  
            <div class="Senha">   
                <p id="text-pass">Senha</p> 
                </div> 
                <div class ="entrar">
                <input type="button" onclick="funcao1()" value="Entrar" />
                </div>
            </div>
            <div class="coluna5">
                <ul>
                    <li><a href=""><p>Esqueceu sua senha? </p></a></li>
                    <li><a href=""><p>Registrar </p></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



