<header class="header-loging">
    <div id="logo-gameshop">
        <a href="index.html"><img src="assets/fotos/logo.png" width="120px"></a>
    </div>
</header>
<div class="login1">
    <div class="coluna3">
        <div class="box-quad">
            <div>
                <p id="top-entrar">Entrar</p>
            </div>
           <form (ngSubmit)="receberDados()">
            <div class="campo-label">
                <label for="email">email</label>
                <input type="email" name="email" placeholder="Ex.: email@gmail.com" [(ngModel)]="userModel.email" >
                </div>
              <div class="campo-label">
                <label for="senha">senha></label>
                <input type="password" name="passoword" id="senha" placeholder="Senha" [(ngModel)]="userModel.senha" >
             </div>
            <div class="coluna4">
                <p id="text-user">Email</p>  
            <div class="Senha">   
                <p id="text-pass">Senha</p> 
                </div> 
                <div class ="entrar">
                <input type="submit" onclick="funcao1()" value="Entrar" />
                </div>
           </div>
           
           </form>
           
            </div>
            
            <div class="coluna5">
                <ul>
                    <p id="mensagem" *ngIf="mensagem != '' ">{{ mensagem }}</p>
                    <li><a href=""><p>Esqueceu sua senha? </p></a></li>
                    <li><a href=""><p>Registrar </p></a></li>
                </ul>
                
            </div>
        </div>
    </div>




